images/
.tensor_cache/
.tiff_cache/
__pycache__/
*.pyc
.venv/
.~lock.*
*.pt
*.pdf
artifacts/*
!artifacts/current_dataset.json
!artifacts/pretrained_commutative_cnn/
artifacts/pretrained_commutative_cnn/*
!artifacts/pretrained_commutative_cnn/config.yaml
!artifacts/pretrained_commutative_transformer/
artifacts/pretrained_commutative_transformer/*
!artifacts/pretrained_commutative_transformer/config.yaml
